<div id="ctl30">
  <div id="ctl32" style="display: none" role="status" aria-hidden="true">
    Loading...
  </div>

  <div class="row" *ngIf="selectedSportId!=10">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="widget">
        <div class="widget-header bordered-bottom bordered-sky">
          <span class="widget-caption"><strong>{{ selectedSport | titlecase }} Highlights</strong></span>
          <div class="widget-buttons"></div>
        </div>

        <div class="widget-body hidemob">
          <img src="assets/images/ajax-loader.gif" id="preloaderCricket" alt="Loading..." style="display: none" />
          <table cellspacing="2" class="marketview-main" border="0" id="tblCricket" *ngIf="Highlightlist?.length">
            <tr style="text-align: center; font-weight: bold">
              <td></td>
              <td colspan="2">1</td>
              <td colspan="2">Χ</td>
              <td colspan="2">2</td>
            </tr>
            <ng-container *ngFor="
                let item of Highlightlist | sortByDate:'matchDate';
                let $index = index;
                trackBy: trackByFn
              ">
              <tr>
                <td class="runner-name" style="height: auto; width: 63%; font-weight: bold">
                  <span>
                    <span class="runner-meta">
                      <span>
                        <i class="badge badge-palegreen badge-empty margin-5 in-play"
                          *ngIf="item.inPlay == 1">&nbsp;</i>
                        <i class="badge badge-empty margin-5" *ngIf="item.inPlay != 1">&nbsp;</i>
                        <a *ngIf="selectedSportId !=10" [routerLink]="[
                          '/full-market',
                          item.SportbfId,
                          item.TourbfId,
                          item.matchId,
                          item.bfId
                        ]">
                          {{ item.matchName }}
                        </a>

                        <a *ngIf="selectedSportId ==10" [routerLink]="[
                      '/full-market/teenpatti'
                    ]" [queryParams]="{tableName: item.tableName, tableId: item.tableId, streamServer: casinoData?.streamServer, streamUrl: item.streamUrl, oddServer1: casinoData?.oddServer1, oddServer2: casinoData?.oddServer2, oddsUrl: item.oddsUrl, resultUrl: item.resultUrl}">{{
                          item.tableName }}</a>
                      </span>
                    </span>

                    <span class="start-date">
                      {{ item.matchDate | date: "YYYY-MM-dd HH:mm:ss" }}
                    </span>
                  </span>
                </td>
                <td>
                  <button class="back">
                    <a id="hback1_{{ $index }}" class="odds" data-side="Back">{{
                      matchDataHome[item.matchId]?.runners[0]?.backPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[0]?.backPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[0]?.backPrice
                      }}</a>
                  </button>
                </td>
                <td>
                  <button class="lay">
                    <a id="hlay1_{{ $index }}" class="odds" data-side="Lay">{{
                      matchDataHome[item.matchId]?.runners[0]?.layPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[0]?.layPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[0]?.layPrice
                      }}</a>
                  </button>
                </td>
                <td>
                  <button class="back">
                    <a id="hback3_{{ $index }}" class="odds" data-side="Back">{{
                      matchDataHome[item.matchId]?.runners[2]?.backPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[2]?.backPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[2]?.backPrice
                      }}</a>
                  </button>
                </td>
                <td>
                  <button class="lay">
                    <a id="hlay3_{{ $index }}" class="odds" data-side="Lay">{{
                      matchDataHome[item.matchId]?.runners[2]?.layPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[2]?.layPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[2]?.layPrice
                      }}</a>
                  </button>
                </td>
                <td>
                  <button class="back">
                    <a id="hback2_{{ $index }}" class="odds" data-side="Back">{{
                      matchDataHome[item.matchId]?.runners[1]?.backPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[1]?.backPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[1]?.backPrice
                      }}</a>
                  </button>
                </td>
                <td>
                  <button class="lay">
                    <a id="hlay2_{{ $index }}" class="odds" data-side="Lay">{{
                      matchDataHome[item.matchId]?.runners[1]?.layPrice ==
                      null ||
                      matchDataHome[item.matchId]?.runners[1]?.layPrice == ""
                      ? "-"
                      : matchDataHome[item.matchId]?.runners[1]?.layPrice
                      }}</a>
                  </button>
                </td>
              </tr>
              <!-- <tr>
                <td></td>
                <td class="status-overlay" colspan="6">
                  <span *ngIf="matchDataHome[item.matchId]?.status != 'OPEN'">
                    {{ matchDataHome[item.matchId]?.status }}
                  </span>
                </td>
              </tr> -->
            </ng-container>
          </table>
          <table cellspacing="2" class="marketview-main" border="0" id="tblTennis" *ngIf="Highlightlist?.length == 0">
            <tbody>
              <tr>
                <td>No match found!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="widget-body hideweb">
          <img src="assets/images/ajax-loader.gif" id="preloaderCricket" alt="Loading..." style="display: none" />
          <table cellspacing="2" class="marketview-main1" border="0" id="tblCricket" *ngIf="Highlightlist?.length">
            <tr style="text-align: center; font-weight: bold" class="hidemob">
              <td></td>
              <td colspan="2">1</td>
              <td colspan="2">Χ</td>
              <td colspan="2">2</td>
            </tr>
            <ng-container *ngFor="
                let item of Highlightlist | sortByDate:'matchDate';
                let $index = index;
                trackBy: trackByFn
              ">
              <div class="game-list pt-1 pb-1 container-fluid">
                <div class="row row5">
                  <div class="col-8">
                    <td class="mb-0 game-name">
                      <span>
                        <span>
                          <i class="badge badge-palegreen badge-empty margin-5 in-play"
                            *ngIf="item.inPlay == 1">&nbsp;</i>
                          <i class="badge badge-empty margin-5" *ngIf="item.inPlay != 1">&nbsp;</i>
                          <a *ngIf="selectedSportId !=10" [routerLink]="[
                          '/full-market',
                          item.SportbfId,
                          item.TourbfId,
                          item.matchId,
                          item.bfId
                        ]">
                            {{ item.matchName }}
                          </a>

                          <a *ngIf="selectedSportId ==10" [routerLink]="[
                      '/full-market/teenpatti'
                    ]" [queryParams]="{tableName: item.tableName, tableId: item.tableId, streamServer: casinoData?.streamServer, streamUrl: item.streamUrl, oddServer1: casinoData?.oddServer1, oddServer2: casinoData?.oddServer2, oddsUrl: item.oddsUrl, resultUrl: item.resultUrl}">{{
                            item.tableName }}</a>
                        </span>
                      </span>
                      <br>
                      <span class="start-date">
                        {{ item.matchDate | date: "YYYY-MM-dd HH:mm:ss" }}
                      </span>
                    </td>
                  </div>
                </div>
                <div class="row row5">
                  <div class="col-12">
                    <div class="text-center game-col game-home"><b>1</b></div>
                    <div class="text-center game-col game-home"><b>X</b></div>
                    <div class="text-center game-col game-home"><b>2</b></div>
                  </div>
                </div>
                <div class="row row5">
                  <div class="col-8">
                    <td>
                      <button class="back">
                        <a id="hback1_{{ $index }}" class="odds" data-side="Back">{{
                          matchDataHome[item.matchId]?.runners[0]?.backPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[0]?.backPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[0]?.backPrice
                          }}</a>
                      </button>
                    </td>
                    <td>
                      <button class="lay">
                        <a id="hlay1_{{ $index }}" class="odds" data-side="Lay">{{
                          matchDataHome[item.matchId]?.runners[0]?.layPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[0]?.layPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[0]?.layPrice
                          }}</a>
                      </button>
                    </td>
                    <td>
                      <button class="back">
                        <a id="hback3_{{ $index }}" class="odds" data-side="Back">{{
                          matchDataHome[item.matchId]?.runners[2]?.backPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[2]?.backPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[2]?.backPrice
                          }}</a>
                      </button>
                    </td>
                    <td cla>
                      <button class="lay">
                        <a id="hlay3_{{ $index }}" class="odds" data-side="Lay">{{
                          matchDataHome[item.matchId]?.runners[2]?.layPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[2]?.layPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[2]?.layPrice
                          }}</a>
                      </button>
                    </td>
                    <td>
                      <button class="back">
                        <a id="hback2_{{ $index }}" class="odds" data-side="Back">{{
                          matchDataHome[item.matchId]?.runners[1]?.backPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[1]?.backPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[1]?.backPrice
                          }}</a>
                      </button>
                    </td>
                    <td>
                      <button class="lay">
                        <a id="hlay2_{{ $index }}" class="odds" data-side="Lay">{{
                          matchDataHome[item.matchId]?.runners[1]?.layPrice ==
                          null ||
                          matchDataHome[item.matchId]?.runners[1]?.layPrice == ""
                          ? "-"
                          : matchDataHome[item.matchId]?.runners[1]?.layPrice
                          }}</a>
                      </button>
                    </td>
                  </div>
                  <!-- <tr>
                    <td></td>
                    <td class="status-overlay" colspan="6">
                      <span *ngIf="matchDataHome[item.matchId]?.status != 'OPEN'">
                        {{ matchDataHome[item.matchId]?.status }}
                      </span>
                    </td>
                  </tr> -->
                </div>
              </div>
            </ng-container>
          </table>
          <table cellspacing="2" class="marketview-main" border="0" id="tblTennis" *ngIf="Highlightlist?.length == 0">
            <tbody>
              <tr>
                <td>No match found!</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="right_col" role="main" *ngIf="selectedSportId==10">
    <div class="wrapper mt-2 diamond-casino-container">
      <div class="card">
        <div class="row mt-2" style="display: block;">
          <div class="col-md-12">
            <h4 class="casino-title mb-0">
              <div class="arrows-left arrows"><span></span></div>
              INTERNATIONAL CASINO  Casino
              <div class="arrows-right arrows"><span></span></div>
            </h4>
          </div>
          <div class="col-md-12">
            <!-- <div class="col-md-2 col-xs-4 inner-img" *ngFor="let item of Highlightlist;trackBy: trackByFn">

              <div class="casino-box casinoicons">
                <a [routerLink]="['/full-market/teenpatti']"
                  [queryParams]="{tableName: item.tableName, tableId: item.tableId, streamServer: casinoData?.streamServer, streamUrl: item.streamUrl, oddServer1: casinoData?.oddServer1, oddServer2: casinoData?.oddServer2, oddsUrl: item.oddsUrl, resultUrl: item.resultUrl}">
                  <div class="casino-icons"><img src="assets/tpimages/{{item.tableName}}.jpg" class="img-fluid">

                  </div>

                  <div class="casino-name">{{item.tableName}}</div>
                    <dl  class="entrance-title">
                                    <dt >{{item.tableName}}</dt>
                                    <dd >PLay Now</dd>
                                  </dl>
                </a>
              </div>

            </div> -->
            <ng-container *ngIf="isInrCurrency">
            <div class="col-md-2 col-xs-6 inner-img" *ngFor="let awc of awcCasinoList_Vnd">

              <div class="casino-box casinoicons">
                <a (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)">
                  <div class="casino-icons"><img src="assets/awc_poster/{{awc.name}}.png" class="img-fluid">

                  </div>

                  <!-- <div class="casino-name">{{awc.name | titlecase}}</div> -->

                  <dl  class="entrance-title">
                    <dt >{{awc.name | titlecase}}</dt>
                    <dd >PLay Now</dd>
                  </dl>
                </a>
              </div>

            </div>
          </ng-container>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="right_col" role="main" *ngIf="selectedSportId==10">
        <div class="wrapper mt-2 diamond-casino-container">
          <div class="card">
            <div class="row mt-2" style="display: block;">
              <div class="col-md-12">
                <h4 class="casino-title mb-0">
                  <div class="arrows-left arrows"><span></span></div>
                  LIVE CASINO 
                  <div class="arrows-right arrows"><span></span></div>
                </h4>
              </div>
              <div class="col-md-12">
                <div class="col-md-2 col-xs-6 inner-img" *ngFor="let item of Highlightlist;trackBy: trackByFn">
    
                  <div class="casino-box casinoicons">
                    <a [routerLink]="['/full-market/teenpatti']"
                      [queryParams]="{tableName: item.tableName, tableId: item.tableId, streamServer: casinoData?.streamServer, streamUrl: item.streamUrl, oddServer1: casinoData?.oddServer1, oddServer2: casinoData?.oddServer2, oddsUrl: item.oddsUrl, resultUrl: item.resultUrl}">
                      <div class="casino-icons"><img src="assets/tpimages/{{item.tableName}}.jpg" class="img-fluid">
    
                      </div>
    
                      <!-- <div class="casino-name">{{item.tableName}}</div> -->
                      <dl  class="entrance-title">
                        <dt >{{item.tableName}}</dt>
                        <dd >PLay Now</dd>
                      </dl>
                    </a>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>

      
      




      <!-- <div class="tab-content">
  <div class="tab-pane active casino-tables">
    <div class="container-fluid">
      <div class="row row5">
        <div class="col-12">
          <h4 class="text-uppercase mt-3">Live Casino</h4>
        </div>
      </div>
      <div class="row row5 mt-2">

        <div class="col-3 text-center" *ngFor="
              let item of Highlightlist;
              let $index = index;
              trackBy: trackByFn
            ">
          <div class="casinoicons">
            <a [routerLink]="['/full-market/teenpatti']"
              [queryParams]="{tableName: item.tableName, tableId: item.tableId, streamServer: casinoData?.streamServer, streamUrl: item.streamUrl, oddServer1: casinoData?.oddServer1, oddServer2: casinoData?.oddServer2, oddsUrl: item.oddsUrl, resultUrl: item.resultUrl}"><img
                src="assets/tpimages/{{item.tableName}}.jpg" class="img-fluid">
              <div class="casino-name">{{item.tableName}}</div>

                <dl  class="entrance-title">
                        <dt >{{item.tableName}}</dt>
                        <dd >PLay Now</dd>
                      </dl>
                      
            </a></div>
        </div>
      </div>
    </div>
  </div>

</div> -->