.positive {
  color: green;
}

.negative {
  color: red;
}
.layRow {
  background: linear-gradient(to bottom,  #ffeff5 0%,var(--secondary-bg)fff 100%);
}

.backRow {
  background: linear-gradient(to bottom,  #e5f2f9 0%,var(--secondary-bg)fff 100%);
}
