<div class="col-md-8">
  <div class="col-xs-12">
    <div class="widget flat">
      <div class="widget-header">
        <span class="widget-caption"
          ><strong>Contact Informations </strong></span
        >
        <div class="widget-buttons"></div>
        <!--Widget Buttons-->
      </div>
      <!--Widget Header-->
      <div
        style="display: block; padding: 10px; letter-spacing: 1px"
        class="widget-body"
      >
        <div class="profile-container">
          <div class="row">
            <div class="profile-contacts">
              <div class="profile-badge orange">
               <img class="contact" src="assets/images/logos/contact.png"><span>Contacts</span>
              </div>
              <div class="contact-info">
                <!-- <p>
                  <strong>WhatsApp:</strong>
                  <a href="https://wa.me/4407375761706"> +44 07375761706</a>
                </p> -->
                <!-- <p>
                  <strong>For Online Support :</strong>
                  <a href="#">support@ssexch.com</a>
                </p> -->
                <p>
                  <strong>Queries &amp; Details :</strong>
                  <a href="mailto:info@weexch666">info@weexch666</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Widget Body-->
  </div>
  <!--Widget-->
</div>
