<!-- promotion slider -->
<div id="promoteWrap" class="promo-banner-wrap">
    <div class="promo-banner">
        <ul class="slides">
            <li class="banner"><a><img src="assets/images/banner/IPL.jpg" alt="velkibuzz_1" /></a>
            </li>
            <!-- <li class="banner"><a><img src="assets/images/banner/WPL.jpeg" alt="velkibuzz_1" /></a>
            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/wee.jpeg" alt="velkibuzz_1" /></a>
            </li> -->
        
            <li class="banner"><a><img src="assets/images/banner/weebanner.jpg" alt="velkibuzz_1" /></a>
            </li>
            <li class="banner"><a><img src="assets/images/banner/weebanner2.jpg" alt="velkibuzz_1" /></a>
            </li>
            <!-- <li class="banner"><a><img src="assets/images/banner/latest1.png" alt="velkibuzz_1" /></a>
            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/latest2.png" alt="velkibuzz_1" /></a>
            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/7.png" alt="velkibuzz_1" /></a>
            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/8.png" alt="velkibuzz_1" /></a>
            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/t10.jpg" alt="velkibuzz_1" /></a>

            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/AM.png" alt="velkibuzz_1" /></a>

            </li> -->
            <!-- <li class="banner"><a><img src="assets/images/banner/BBI.jpg" alt="velkibuzz_1" /></a>

            </li> -->
            <li class="banner"><a><img src="assets/images/banner/casino.jpg" alt="velkibuzz_1" /></a>

            </li>
            <li class="banner"><a><img src="assets/images/banner/indian.jpg" alt="velkibuzz_1" /></a>

            </li>
            <li class="banner"><a><img src="assets/images/banner/virtual.jpg" alt="velkibuzz_1" /></a>

            </li>
            <!-- <li class="banner"><a><img src="assets/images/banner/2.png" alt="velkibuzz_1" /></a>

            </li> -->
            <li class="banner"><a><img src="assets/images/banner/3.jpg" alt="velkibuzz_1" /></a>

            </li>
            <li class="banner"><a><img src="assets/images/banner/4.png" alt="velkibuzz_1" /></a>

            </li>
            <!-- <li class="banner"><a><img src="assets/images/banner/5.jpeg" alt="velkibuzz_1" /></a>
            </li> -->
            <li class="banner"><a><img src="assets/images/banner/t1.jpg" alt="velkibuzz_1" /></a>
            </li>
            <li class="banner"><a><img src="assets/images/banner/t2.jpeg" alt="velkibuzz_1" /></a>
            </li>
            <li class="banner"><a><img src="assets/images/banner/t3.jpeg" alt="velkibuzz_1" /></a>
            </li>
            <li class="banner"><a><img src="assets/images/banner/t4.jpeg" alt="velkibuzz_1" /></a>
            </li>
        </ul>
    </div>
    <!-- loading for promotion slider -->
    <!-- <div class="promo-banner-loading"></div> -->
</div>