<div class="col-xs-12 footer" ngClass.lt-md="phone" >
  <footer class="footer">
    <div class="main-container">
      <p>
        <strong
          ><a
            href="#"
            onclick=" window.open('/#/terms#cookiepolicy', '_blank', 'width=800, height=600', window.focus()) "
            >Privacy Policy</a
          >
          /
        </strong>
        <strong ngStyle.lt-md="display: none">
          <a routerLink="/about">About us</a>
          /
        </strong>
        <strong
          ><a
            href="#"
            onclick=" window.open('/#/terms#term', '_blank', 'width=800, height=600', window.focus()) "
            >Terms &amp; Conditions</a
          >
          /
        </strong>
        <strong
          ><a
            href="#"
            onclick=" window.open('/#/terms#responsiblegambling', '_blank', 'width=800, height=600', window.focus()) "
            >Gambling can be addictive, &nbsp;please play responsibly</a
          >
          /
        </strong>
        <strong ngStyle.lt-md="display: none"
          ><a
            href="#"
            onclick=" window.open('/#/terms#parentalsupervision', '_blank', 'width=800, height=600', window.focus()) "
            >Parental Supervision</a
          >
          /
        </strong>
        <strong class="ellipsis">
          <a routerLink="/contact">Help & Contact us</a>
        </strong>
      </p>

      <div class="row" style="display: flex; align-items: center">
        <div style="margin-top: -20px">
          <div class="footer-social">
            <!-- <span class="ellipsis" style="display: inline-flex">
              <span
                style="font-size: 20px; color: #16d616"
                class="fa fa-whatsapp"
              >
              </span>
              <a href="https://wa.me/971508632147"> +971 508632147</a>
            </span>
            <br /> -->
          <h5>Support</h5>
            <span
              style="font-size: 16px; color: var(--header-bg);"
              class="fa fa-envelope"
            >
            </span>
            <a href="mailto:info@{{fullSiteName}}"> info@{{fullSiteName}}</a>
          </div>
        </div>
        <div class="powered-by">
          <p>
            <span style="font-size: 11px; color: #2377c1; font-weight: bold"
              >Powered by
            </span>
            <img
              class="betfair"
              src="assets/images/betfair-logo-130x40.png"
              alt="betfair"
            />
            <a href="/#/Terms#parentalsupervision"
              ><img
              class="eitheen"
                src="assets/images/18Plus.png"
                alt="18+"
            /></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
