<div class="container">
  <div class="row justify-content-around">
    <div class="card-deck mb-3 text-center">
      <!-- <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">BACCARAT</h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/BACCARAT.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />

          <a routerLink="baccarat" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            BACCARAT
            <span class="badge badge-warning"><i>turbo</i></span>
          </h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/BACCARAT.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />
          <a routerLink="/baccarat-turbo" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div> -->

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">BLACKJACK</h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/BLACKJACK.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />

          <a routerLink="blackjack" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            BLACKJACK
            <span class="badge badge-warning"><i>turbo</i></span>
          </h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/BLACKJACK.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />
          <a routerLink="/blackjack-turbo" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">OMAHA HI</h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/OMAHA HI.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />
          <a routerLink="/omaha-hi" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>

    </div>
  </div>
  <!-- row -->

  <div class="row justify-content-around">
    <div class="card-deck mb-2 text-center">
      

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">HOLD&apos;EM</h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/HOLD'EM.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />
          <a routerLink="/holdem" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            HOLD&apos;EM
            <span class="badge badge-warning"><i>turbo</i></span>
          </h4>
        </div>
        <div class="card-body">
          <img
            src="assets/images/exchange/HOLD'EM.jpg"
            class="img-bottom-margin card-img-top"
            alt="..."
          />
          <a routerLink="/holdem-turbo" class="btn btn-lg btn-block btn-primary"
            >PLAY GAME</a
          >
        </div>
      </div>

    </div>
  </div>
  <!-- row -->

  <div class="row justify-content-around">
    <div class="card-deck mb-2 text-center">

      
    </div>
  </div>
  <!-- row -->
</div>
