.marquee-box {
  color: #fff;
  line-height: 25px;
  height: 27px;
  margin-bottom: 1px;
  background-repeat: repeat-x;
    background-image: linear-gradient(-180deg,#2f424d,#141e21);
    border-bottom: 1px solid #fff;
    display: flex;
  }
  .marquee-box .marquee {
    flex: 1;
    overflow: hidden;
    z-index: 1;
  }
  .marquee-box h4 {
    position: relative;
    flex-basis: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 13px;
  }
  .marquee-box h4:before {
    content: '';
    height: 17px;
    width: 17px;
    margin-right: 2px;
    background-image: url('data:image/svg+xml,<svg width="17" height="17" xmlns="http://www.w3.org/2000/svg"><g fill="rgb(255,255,255)" fill-rule="nonzero"><path d="M8.5 10.083c1.519 0 2.75-1.195 2.75-2.669V2.67C11.25 1.195 10.019 0 8.5 0S5.75 1.195 5.75 2.67v4.744c0 1.474 1.231 2.67 2.75 2.67zM7.278 2.67c0-.654.548-1.186 1.222-1.186.674 0 1.222.532 1.222 1.186v4.745c0 .654-.548 1.186-1.222 1.186-.674 0-1.222-.532-1.222-1.186V2.67z"/><path d="M14 7.333h-1.447c0 2.36-1.818 4.278-4.053 4.278S4.447 9.692 4.447 7.333H3c0 2.942 2.085 5.374 4.776 5.75v.973h-2.46v1.527h6.368v-1.527h-2.46v-.973c2.69-.376 4.776-2.808 4.776-5.75z"/></g></svg>');
    background-repeat: no-repeat;
    background-size: contain
  }
  .marquee-box h4:after {
    content: '';
    position: absolute;
    right: -7px;
    top: -10px;
    z-index: 2;
    width: 7px;
    height: 25px;
    background-image: url(/assets/images/path_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain
  }
  .marquee-box h4:after{
    display: block;
  }
.marquee-box .marquee a {
    height: 6.66667vw;
    line-height: 6.66667vw;
    align-items: center;
    font-weight: 700;
    margin-right: 21.33333vw;
}
.marquee-box .marquee a{
  display: flex;
}
.marquee-box .marquee a{
  color: #fff;
}